<h2>Changes</h2>

<h4>History</h4>
<ul>
  <li/>06-Apr-2020 NSL-3540: Advanced name search on iso_publication_date handles wildcards and gets a trailing wildcard; also protologue flag is correctly applied. 
  <li>Fix error in taxonomic search.
</ul>



<h3>Prehistory</h3>

<p>List only includes changes attached to JIRAs
<ul> 
  <li/>(5 weeks)     <Greg Clarke>   NSL-3057: Remove text match ranking order applied by pg_search.
  <li/>(5 weeks)     <Greg Clarke>   NSL-3057: Fix sql use of table alias.
  <li/>(9 weeks)     <Greg Clarke>   NSL-3009: fix nomenclatural status for synonyms
  <li/>(2 months)    <Greg Clarke>   NSL-2992: don't return name status of [n/a], leave it null.
  <li/>(4 months)    <Greg Clarke>   Follow-up on recent changes, including NSL-2918: adding debug to see where the sql statements are coming from.
  <li/>(4 months)    <Greg Clarke>   NSL-2918: fix order of synonyms - had to use raw sql
  <li/>(4 months)    <Greg Clarke>   NSL-2917: BHL links
  <li/>(4 months)    <Greg Clarke>   NSL-2347: Adjust to renaming of instance_resource to instance_resources.
  <li/>(4 months)    <Greg Clarke>   NSL-2871: Add support for image links
  <li/>(4 months)    <Greg Clarke>   NSL-2872: fixing common and cultivar search
  <li/>(4 months)    <Greg Clarke>   NSL-2347: follow-up protologue link with by referring to 'instance_resource' not 'instance_resources'
  <li/>(5 months)    <Greg Clarke>   NSL-2903: also pick up accepted tree comment and distribution from non-current accepted tree elements
  <li/>(5 months)    <Greg Clarke>   NSL-2903: get tree element config only from the current accepted tree.
  <li/>(5 months)    <Greg Clarke>   NSL-2867, 2868: more re-structuring for tree data.
  <li/>(6 months)    <Greg Clarke>   NSL-2687: grouping misapplications.
</ul>
