<!DOCTYPE html>
<html>
<head>
  <title>SearchServerGraphql</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="wrap">
  <h1><a href="/" title="Home">Search Server Graphql</a></h1>
<%= yield %>

</body>
</html>
