<!DOCTYPE html>
<html>
<head>
  <title>SearchServerGraphql</title>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
<style>
html {
    /* https://www.kirupa.com/html5/make_body_take_up_full_browser_height.htm */
    height: 100%;
    background-color: red;
  }

body {
    /* https://www.kirupa.com/html5/make_body_take_up_full_browser_height.htm */
    min-height: 100%;
    font: 300 21px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #ddd;
    background-color: #333;
    -webkit-box-shadow: inset 0 3px 30px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 3px 30px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 3px 30px rgba(0, 0, 0, 0.3);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h* {
  font-family: Verdana, Ariel, sans-serif;
}

body {
  font-size: 85%;
}

a {
  color: #f7cd46;
}

a:visited {
  color: #f19d38;
}

table.faint-horizontals tr td {
  border-bottom: 1px solid gray;
}
</style>

</head>
<body class="wrap">
  <h1><a href="/" title="Home">Search Server Graphql</a></h1>
<%= yield %>

</body>
</html>
